/* Import style font */
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Akhir Style font */

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* Col */
.col {
  margin: 0 12px;
}
.col-3 {
  width: calc((100% / 4) - 24px);
}
.col-4 {
  width: calc((100% / 3) - 24px);
}
.col-5 {
  width: calc((100% * 5 / 12) - 24px);
}
.col-6 {
  width: calc((100% / 2) - 24px);
}
.col-8 {
  width: calc((100% * 2 / 3) - 24px);
}
.col-10 {
  width: calc((100% * 5 / 6) - 24px);
}

/* ==== Global Container ==== */
.container {
  width: 1344px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* Background Navbar */
}
.container .title {
  margin-bottom: 70px;
}
.container .title h2 {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #293241;
}
.container .title p {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #7f848d;
  opacity: 0.7;
}

/* ==== Awal Navbar ==== */
#navbar .container {
  justify-content: space-between;
}

#navbar {
  padding: 62px 0;
  position: absolute;
  width: 100%;
}
#navbar .logo {
  padding: 0 12px;
}
#navbar .logo img {
  width: auto;
  height: 60px;
}
/* ===== Navbar Menu ===== */
#navbar .menu {
  padding: 0 12px;
}
#navbar ul {
  list-style: none;
}
#navbar ul::after {
  content: "";
  clear: both;
  display: block;
}
#navbar ul li {
  float: left;
  margin: 0 24px;
}
#navbar ul li a {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}
#navbar ul li a:hover {
  border-bottom: 3px solid #fff;
}
#navbar ul li a.active {
  font-weight: bold;
  color: #fff;
}
#navbar .button {
  padding: 0 12px;
}
#navbar .button a {
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
  /* Font */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #61481c;
  /* button */
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: 1.5s;
}
#navbar .button a:hover {
  background-color: #eae3d2;
  scale: 1.2;
}
/* ===== Akhir Navbar ===== */

/* ===== Awal Hero ===== */
#Hero {
  height: 1276px;
  /* Background Image */
  background-color: #293241;
  background-image: url("../assets/Background Grup.png");
  background-position: -295px -449px;
  margin-bottom: 150px;
}
#Hero .containt {
  padding: 0 12px;
  margin-top: 191px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Hero .containt .title p {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
#Hero .container .containt .title h1 {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 138%;
  text-align: center;
  margin-bottom: 32px;

  color: #ffffff;
}
#Hero .containt .getting-started {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 1000px;
  margin-bottom: 70px;
}
#Hero .containt .getting-started form {
  display: flex;
  margin: 0;
}
#Hero .containt .getting-started input {
  padding: 32px 48px;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  background: transparent;
  border: 0;
  flex-grow: 1;
}
#Hero .containt .getting-started button {
  padding: 32px 48px;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;

  color: #293241;
  border: 0;
  border-radius: 1000px;
} /* ===== Akhir Hero ===== */

/* Awal Customer */
#Customer .container h2 {
  padding-top: 423px;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #293241;
}
#Customer .container .card {
  margin: 0 12px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 150px;
}
#Customer .container .card .star-container {
  margin-bottom: 32px;
}
#Customer .container .card p {
  margin-bottom: 24px;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

  color: #293241;
}
/* Akhir Customer */

/* Awal How It Work Title */
#HowitWorkTitle .container .title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #7f848d;
}
/* Akhir How It Work Title */

/* Awal How It Wor */
#HowitWork {
  background-image: url(../assets/icons/description-line.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 200px;
}
#HowitWork .card {
  width: calc((25%) - 24px - 48px);
  padding: 24px;
  background-color: #1e2746;
  background-image: url("../assets/icons/bg-work.png");
  background-repeat: no-repeat;
  border-radius: 18px;
  margin: 41px 12px;
}

#HowitWork .container .card ol {
  padding-left: 30px;
  margin-bottom: 16px;
}
#HowitWork .container .card li {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
#HowitWork .container .card p {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d4d6d9;
}
/* Akhir How It Work */

/* Awal Analisis */
#Analisis .container {
  justify-content: space-between;
  margin-bottom: 192.9px;
}
#Analisis .card {
  background-color: #1e2746;
  border-radius: 16px;
  display: flex;
  padding: 32px 24px;
  justify-content: space-between;
  align-items: center;
  margin: 27.55px 0;
  position: relative;
  left: 0;
  transition: 0.7s;
}
#Analisis .card:hover {
  left: 24px;
}
#Analisis .container .Diagram .img-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Analisis .container .Diagram .card p {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 12px;
}
#Analisis .container .analisis-desc h2 {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #293241;
}
#Analisis .container .analisis-desc p {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #7f848d;
  padding: 24.65px 0;
}
/* Akhir Analisis */

/* Awal Graph Analisis */
#Graph {
  background-color: #1e2746;
}
#Graph .container {
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
}
#Graph .container .analytise span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #293241;
  background-color: #edcb50;
  border-radius: 8px;
  padding: 6px 16px;
}
#Graph .container .analytise ul {
  list-style: none;
}
#Graph .container .analytise ul li::before {
  content: "";
  display: inline-block;
  background-image: url(../assets/icons/Archery.png);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin-right: 16px;
}
#Graph .container ul li {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #d4d6d9;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 16px 0;
}
#Graph .container .analytise h2 {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
  padding: 24px 0 32px;
}
#Graph .container .analytise > .item p {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #d4d6d9;
  margin-left: 16px;
}
/* Akhir Graph Analisis */

/* Start Pricing */
#Pricing {
  background-color: #f0f9ff;
}
#Pricing .card {
  border: 1px solid transparent;
  transition: 0.6s;
}
#Pricing .yellow {
  background-color: #fff;
  border-radius: 24px;
}
#Pricing .container .blue {
  background-color: #fff;
  background-image: url(../assets/icons/bg-work.png);
  background-repeat: no-repeat;
  border-radius: 24px;
}
#Pricing .container .green {
  background-color: #fff;
  border-radius: 24px;
}
#Pricing .container .yellow:hover {
  border: 1.5px solid #edcb50;
  scale: 1.1;
}
#Pricing .container .blue:hover {
  border: 1.5px solid #1681fe;
  scale: 1.1;
}
#Pricing .container .green:hover {
  border: 1.5px solid #448c74;
  scale: 1.1;
}
#Pricing .title {
  margin-top: 150px;
}
#Pricing .yellow .pricing-box {
  display: flex;
  margin: 32px 0 0 32px;
  gap: 12px;
}
#Pricing .blue .pricing-box {
  display: flex;
  margin: 32px 0 0 32px;
  gap: 12px;
}
#Pricing .green .pricing-box {
  display: flex;
  margin: 32px 0 0 32px;
  gap: 12px;
}
#Pricing .yellow .icon-box {
  background-color: #edcb50;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Pricing .container .blue .icon-box {
  background-color: #1681fe;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Pricing .container .green .icon-box {
  background-color: green;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Pricing .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 82px;
}
#Pricing .yellow .price .badge {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #edcb50;
}
#Pricing .blue .price .badge {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #1681fe;
}
#Pricing .blue .price .recomented {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #1681fe;
}
#Pricing .green .price .badge {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: green;
}
#Pricing .info {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
#Pricing .pricing-box .price h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #293241;
}
#Pricing .price .info h4 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 42px;
  color: #293241;
}
#Pricing .price .info span {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545b67;
  margin-left: 8px;
}
#Pricing .container .card ul {
  list-style: none;
  margin: 0 0 0 32px;
}
#Pricing .container .card .approve li {
  display: flex;
  align-items: center;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #293241;
  margin: 16px 0;
}
#Pricing .container .yellow .approve li::before {
  width: 24px;
  height: 24px;
  content: " ";
  display: inline-block;
  background-image: url(../assets/icons/Approve.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
#Pricing .container .blue .approve li::before {
  width: 24px;
  height: 24px;
  content: " ";
  display: inline-block;
  background-image: url(../assets/icons/ApproveBlue.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
#Pricing .container .green .approve li::before {
  width: 24px;
  height: 24px;
  content: " ";
  display: inline-block;
  background-image: url(../assets/icons/ApproveGreen.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
#Pricing .container .card .close li {
  display: flex;
  align-items: center;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #a9adb3;
  margin: 16px 0;
}
#Pricing .container .card .close li::before {
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
  background-image: url(../assets/icons/Close.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
#Pricing .container .yellow button {
  border: 1px solid #edcb50;
  background-color: transparent;
  width: 360px;
  height: 47px;
  color: #edcb50;
  margin: 50px 32px 32px;
  border-radius: 12px;
}
#Pricing .container .blue button {
  border: 1px solid #1681fe;
  background-color: transparent;
  width: 360px;
  height: 47px;
  color: #1681fe;
  margin: 50px 32px 32px;
  border-radius: 12px;
}
#Pricing .container .green button {
  border: 1px solid green;
  background-color: transparent;
  width: 360px;
  height: 47px;
  color: green;
  margin: 50px 32px 32px;
  border-radius: 12px;
}
/* End Pricing */
